.Header {
  width: 100%;
  min-width: 8px;
  margin-bottom: 1rem;
  position: relative;

  .HeaderWrapper {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;

    a {
      margin-right: 20px;
    }

    button {
      margin-right: 20px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}