.Header {
  width: 100%;
  min-width: 8px;
  margin-bottom: 1rem;
  position: relative;

  .HeaderWrapper {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FBCB9C;
  }

  &__logo {
    display: flex;
    align-items: center;

    h5 {
      font-weight: bold;
    }
  }

  &__search {
    flex: 0.7;
  }

  &__menu {
    display: flex;
    align-items: center;

    a {
      margin-right: 20px;
    }

    button {
      margin-right: 20px;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  &__profileMenu {
    position: absolute;
    bottom: -100%;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #171719;
    color: #F0F0F0;

    &.entering {
      animation: menuOpen .5s forwards;
    }

    &.exiting {
      animation: menuExit .5s forwards;
    }

    .menu {
      list-style: none;
      display: flex;
      flex-direction: column;

      .hr {
        width: 135px;
        height: 1px;
        background-color: #F0F0F0;
        margin: 10px auto 10px auto;
      }

      .list {
        width: 150px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@keyframes menuOpen {
  0% {
    right: -20px;
    opacity: 0;
  }
  50% {
    right: 35px;
    opacity: 1;
  }
  100% {
    right: 20px;
  }
}

@keyframes menuExit {
  0% {
    right: 20px;
  }
  50% {
    right: 35px;
  }
  100% {
    right: -20px;
    opacity: 0;
  }
}