body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #171719;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #F0F0F0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb {
    background-color: #FBCB9C;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: #F0F0F0;
}

* {
    outline: none;
}

.MuiIconButton-root:hover {
    color: #FBCB9C
}